@use 'v.module';

.lesson-vocab-word {
    font-weight: bold;
    color: v.$darkblue;
    display: inline-block;
    position: relative;
}

.lesson-sentence {
    font-weight: bold;
    color: v.$darkblue;
    display: inline-block;
    position: relative;
}